# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
%pip install pymongo

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from pymongo import MongoClient

In [ ]:
cursor = MongoClient("mongodb://localhost:27017")   #cursor es la conexion y se puede acceder desde ah√≠ a las bases de datos
cursor

In [ ]:
cursor.list_database_names()

In [ ]:
db=cursor.companies    #cursor da acceso a las bases de datos 'admin', 'companies', 'config', 'local'

colec=db.companies     #una vez dentro de companies, entrar en companies y es la coleccion (la tabla)

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
list(colec.find({'name': 'Babelgum'}, {'_id': False, 'name': True}))  #select * from colec where name... and

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
list(colec.find({'number_of_employees':{'$gt':5000}}).sort('number_of_employees').limit(20))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
list(colec.find({'founded_year':{'$gte':2000,'$lte':2005}}, {'_id': False, 'name': True, 'founded_year':True} ))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
#list(colec.find({'ipo.valuation_amount':{'$gte':100000000}}))

In [ ]:

list(colec.find({'ipo.valuation_amount':{'$gte':100000000},'founded_year':{'$lte':2010}},
                         {'_id': False, 'name': True, 'ipo':True}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
list(colec.find({'number_of_employees':{'$gt':5000},'founded_year':{'$lte':2005}})
     .sort('number_of_employees',-1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
list(colec.find({'partners':{'$exists': False}}).limit(3))
#list(colec.find({'partners':{null}}).limit(3))
#list(colec.find({'partners':}).limit(3))

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
list(colec.find({'category_code':{'$type':10}}).limit(3))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
list(colec.find({'number_of_employees':{'$gt':100,'$lte':1000}},{'_id':False,'name':True, 'number_of_employees':True})
     .limit(10))

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:

list(colec.find({},{'_id':0,'name':1,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1).limit(10))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
# Your Code
list(colec.find({},{'_id':False,'name':True, 'number_of_employees':True}).sort('number_of_employees',-1)
     .limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

list(colec.find({'founded_month':{'$gt':6}},{'_id':False,'name':True, 'founded_month':True}).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

list(colec.find({'founded_year':{'$lt':2000},'acquisition.price_amount':{'$gt':1000000}},
                {'_id':False,'name':True,'acquisition.price_amount':True}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
#sort por convenio es 1, ascendente.

list(colec.find({'acquisition.acquired_year':{'$gt':2010}},
                {'name':True,'acquisition':True,}).sort('acquisition.price_amount',1))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

list(colec.find({},
                {'name':True,'founded_year':True,'_id':False}).sort('founded_year',-1).limit(10))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

list(colec.find({'founded_day':{'$lte':7}},
                {'name':True, '_id':False}).sort('acquisition.price_amount',-1).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
list(colec.find({'category_code':'web','number_of_employees':{'$gt':4000}},{'_id':False,'name':True, 'number_of_employees':True}).sort('number_of_employees'))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code


list(colec.find({'acquisition.price_amount':{'$gt':10000000}, 'acquisition.price_currency_code':'EUR'},
                {'_id':False,'name':True,'acquisition.price_amount':True, 'acquisition.price_currency_code':True}))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

list(colec.find({'acquisition.acquired_month':{'$lte':6}},
                {'name':True, '_id':False,'acquisition':True}).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

list(colec.find({'$and':[{'founded_year':{'$gte':2000,'$lte':2010}},
                         {'acquisition.acquired_year':{'$gt':2011}}]},
                {'_id': False, 'name': True, 'founded_year':True, 'acquisition.acquired_year':True}))

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

#list(colec.find({'$where':funcion('deadpooled_year'-'founded_year') return   {'_id': False, 'name': True, 'founded_year':True, 'deadpooled_year':True}}))



#list(colec.find({'deadpooled_year':{'$gt':3}},{'_id': False, 'name': True,'deadpooled_year':True }).limit(10))
#list(colec.find({'$substract':['$deadpooled_year','$founded_year']:{'$gt':3}},{'_id': False, 'name': True,'deadpooled_year':True }).limit(10))


#colec.aggregate([{'$group':{'resta':{'$substract':['deadpooled_year','$founded_year']}}}])


#list(colec.find({'$substract':['deadpooled_year','founded_year']}))

In [ ]:
.